.PostWrapper {
	display       : flex;
	border-top    : 1px solid lightgray;
	border-bottom : 1px solid lightgray;
	padding: 1rem 0;
	border-collapse: collapse;

	.Post {
		display        : flex;
		flex-direction : column;
		margin-left    : 1rem;

		&__expand__icon {
			position   : absolute;
			align-self : flex-end;
		}

		&__header {
			&__meta {
				margin-left : 0.5rem;
				color       : grey;
			}

		}

		&__content {
			border    : 1px solid lightgray;
			width : 40rem;
			margin    : 1rem 0;

			&__image {
				width               : 100%;
				min-height          : 20rem;
				background-position : center;
				background-size     : cover;
			}
			&__text {
				padding : 1rem;
			}

			&__link {
				color : grey;
			}
		}

		&__footer {
			.fa-comment-o, .material-icons {
				font-size      : 1.3rem;
				vertical-align : top;

			}

			.Social__item {
				margin-right : 2rem;
			}

		}

	}
}

